<h1>Listing shedulers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Remark</th>
  </tr>

<% @shedulers.each do |sheduler| %>
  <tr>
    <td><%=h sheduler.name %></td>
    <td><%=h sheduler.remark %></td>
    <td><%= link_to 'Show', sheduler %></td>
    <td><%= link_to 'Edit', edit_sheduler_path(sheduler) %></td>
    <td><%= link_to 'Destroy', sheduler, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sheduler', new_sheduler_path %>